.header{
    display: flex;
    justify-content: space-around;
    padding: 0.2em 0.8em;
    
    background-color:  #fae0df;
    
 a{
     all: unset;
     color: #f6f5f1;
 }
    
.home1 {
    padding: 0.9em;
    border-radius: 0.2em;
    cursor: pointer;
    background-color: #898b8a;
    transition: 0.2s;
    }
.login1 {
    padding: 0.8em;
    border-radius: 0.2em;
    margin: 0.5em;
    cursor: pointer;
    background-color: #898b8a;
    transition: 0.2s;
    }
.register1 {
    padding: 0.8em;
    border-radius: 0.2em;
    margin: 0.5em;
    cursor: pointer;
    background-color: #898b8a;
    transition: 0.2s;
    }
.email {
    padding: 0.8em;
    border-radius: 0.2em;
    margin: 0.5em;
    cursor: pointer;
    background-color: #898b8a;
    transition: 0.2s;
    }
.logout {
    padding: 0.8em;
    border-radius: 0.2em;
    margin: 0.5em;
    cursor: pointer;
    background-color: #898b8a;
    transition: 0.2s;
    }
.citas {
    padding: 0.8em;
    border-radius: 0.2em;
    margin: 0.5em;
    cursor: pointer;
    background-color: #898b8a;
    transition: 0.2s;
    }
.home1:hover{
    background-color: #16a596;
}
.login1:hover{
    background-color: #16a596;
}
.register1:hover{
    background-color: #16a596;
}
.email:hover{
    background-color: #16a596;
}
.logout:hover{
    background-color: #16a596;
}
.citas:hover{
    background-color: #16a596;
}


}
body{
    background-color: #f6f5f1;
}
h1{
    color: #16a596;
}