.header{
    display: flex;
    justify-content: space-around;
    padding: 0.2em 0.8em;
    color: #f6f5f1;
    background-color:  #fae0df;

.home {
    padding: 0.8em;
    border-radius: 0.2em;
    cursor: pointer;
    background-color: #898b8a;
    transition: all 0.2s;
    }
.login {
    padding: 0.8em;
    border-radius: 0.2em;
    cursor: pointer;
    background-color: #898b8a;
    transition: all 0.2s;
    }
.register {
    padding: 0.8em;
    border-radius: 0.2em;
    cursor: pointer;
    background-color: #898b8a;
    transition: all 0.2s;
    }
.home:hover{
    background-color: #16a596;
}
.login:hover{
    background-color: #16a596;
}
.register:hover{
    background-color: #16a596;
}


}
body{
    background-color: #f6f5f1;
}
h1{
    color: #16a596;
}